.information{color: rgb(8, 8, 8);text-align: center;margin-bottom: 5%;font-size: medium;margin-left: 1%;}
.testBody{margin-left: 10%;margin-right: 10%;}
.loginComp{
     margin-left: 21%; margin-right: 21%;
}